[Unit]
Requires=roscore.service
PartOf=roscore.service
After=NetworkManager.service time-sync.target roscore.service roslaunch.service
[Service]
Type=simple
User=spiri
ExecStart=/usr/sbin/ros_radio_listener
[Install]
WantedBy=multi-user.target
